.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid darkgray;
}

.navItems {
  display: flex;
}

.navItem {
  padding: 0.25rem;
  color: orange;
  cursor: pointer;
}

.navItemSelected {
  color: darkorange;
  border-bottom: 2px solid lightgrey;
  font-weight: bold;
}
